<div class="layuimini-container">
    <form id="app-form" class="layui-form layuimini-form">

        <div class="layui-form-item">
            <label class="layui-form-label">聊天方式ID</label>
            <div class="layui-input-block">
                <input type="text" class="layui-input" value="{$row.chat_id|default=''}">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">聊天用户名</label>
            <div class="layui-input-block">
                <input type="text" class="layui-input" value="{$row.chat_username|default=''}">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">聊天方式</label>
            <div class="layui-input-block">
                <input type="text" class="layui-input" value="{$row.chat_type|default=''}">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">发送者ID</label>
            <div class="layui-input-block">
                <input type="text" class="layui-input" value="{$row.from_id|default=''}">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">发送者用户名</label>
            <div class="layui-input-block">
                <input type="text" class="layui-input" value="{$row.form_username|default=''}">
            </div>
        </div>

        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">发送内容</label>
            <div class="layui-input-block">
                <textarea class="layui-textarea">{$row.text|default=''}</textarea>
            </div>
        </div>

        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">原始信息</label>
            <div class="layui-input-block">
                <textarea class="layui-textarea">{$row.original_data|default=''}</textarea>
            </div>
        </div>

        <div class="hr-line"></div>
        <div class="layui-form-item text-center">
            <button type="submit" class="layui-btn layui-btn-normal layui-btn-sm" lay-submit>确认</button>
            <button type="reset" class="layui-btn layui-btn-primary layui-btn-sm">重置</button>
        </div>

    </form>
</div>